*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family:  'Roboto', sans-serif;
}

header{
    grid-area: header;
    background-color:#ecea77;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header > img{
    display: flex;
    justify-content: start;
}
nav{
    grid-area: nav;
    background-color:#ecea77;
    color: white;
}
#lista-principal{
    display: flex;
    justify-content: end;
}
#lista-principal > li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li > a{
    color: black;
    text-decoration: none;
}
main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color:#ecea77;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.container-principal{
    display: grid;
    grid-template-areas: "header header"
                "main main"
                "footer footer";
    grid-template-columns: 2fr 10fr/ auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*MAIN*/

.container{
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ecea77;
    border-radius: 10px;
    border: 3px solid #fff;
}
.container > input{
    border: 2px solid black;
}
.wraper{
    display: block;
}
.wraper ul{
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.wraper li{
    padding: 10px;
    background-color: #f48282;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    margin-bottom: 5px;

}
main > li:hover{
    background-color: #5e3eaf;
}
.wraper li span{
    flex: 1;
    text-align: left;
}
.wraper li.editButton
.wraper li.deleteButton{
    margin-left: 5px;
}

input{
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
button{
    padding: 8px 16px;
    font-size: 16px;
    background-color: #fc6565;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}
button:hover{
    background-color: #f75050;
}
main {
    grid-area: main;
    background-color: #161616;
    padding: 20px;
}
#agenda{
    background-color: #fc6565;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .wraper{
        display: flex;
    }
}